<div class="header">
  <h1 class="heading"><a href="/">Where's Waldo</a></h1>
  <p class="timer" id="timer"></p>
  <a class="back-home" href="/">Back to Start</a>
</div>


<%= image_tag(@source, id: "photo", 'data-id' => @photo.id) %>

<div class="popup">
  <h3>Who'd you find?</h3>
  <ul>
    <% @characters.each do |character| %>
      <li class="character-choice" id="<%= character.name %>"><%= character.name.capitalize! %></li>
    <% end %>
  </ul>
</div>