<h1 class="heading">Where's Waldo</h1>

<%= image_tag(@source, id: "photo", 'data-id' => @photo.id) %>

<div class="popup">
  <h3>Who'd you find?</h3>
  <ul>
    <li class="character-choice" id="waldo">Waldo</li>
    <li class="character-choice" id="wanda">Wanda</li>
    <li class="character-choice" id="wizard">Wizard</li>
  </ul>
</div>