html, body, h1 {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
}

body {
  position: relative;
}

img {
  max-width: 1200px;
}

a {
  color: gray;
}

.header {
  width: 100%;
  display: block;
}

.heading,
.timer {
  display: inline-block;
  line-height: 1;
  margin: 0 15px 0 0;
}

.timer {
  color: red;
}

.back-home {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 8px;
}

.popup {
  display: none;
  position: fixed;
  width: 150px;
  padding: 10px;
  margin: 0;
  padding: 15px;
  background: rgba(255,255,255,0.7);
}

.character-choice {
  padding: 15px 0 15px 55px;
  border-radius: 16px;
  margin-left: -40px;
  background-size: 45px 54px;
  margin-bottom:5px;
}

#waldo {
  background: image-url("waldo.png") no-repeat left;
}

#wenda {
  background: image-url("wenda.png") no-repeat left;
}

#wizzard {
  background: image-url("wizzard.png") no-repeat left;
}

#odlaw {
  background: image-url("odlaw.png") no-repeat left;
}

.character-choice:hover {
  font-weight: bold;
  cursor: pointer;
}

.outline {
  padding: 7px;
  margin-left: -9px;
  margin-top: -5px;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0 0 1px 4px rgba(255,255,255,0.7);
  position: absolute;
}

.error-message {
  position: absolute;
  height: 20px;
  width: 150px;
  background: rgba(255,255,255,0.7);
  display: none;
  font-size: 0.9em;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  border: 2px solid red;
  border-radius: 5px;
}

.game-over {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3em;
  background: rgba(255,255,255,0.8);
  padding-top: 2rem;
  
  #play-again {
    cursor: pointer;
    color: red;
  }
}

.home {
  text-align: center;
  padding-top: 3rem;
}

.photo-options {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.photo-option {
  cursor: pointer;
  text-align: left;
  margin-bottom: 1rem;
}

.photo-option:hover {
  color: red;
}

.photo-option img {
  width: 100px;
  vertical-align: middle;
  margin-right: 10px;
}

.new-score {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3em;
  background: rgba(255,255,255,0.8);
  padding-top: 30%;
  
  input[type="submit"] {
    cursor: pointer;
  }
}

