html, body, h1 {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

img {
  max-width: 1200px;
}

.popup {
  display: none;
  position: absolute;
  width: 150px;
  padding: 10px;
  margin: 0;
  padding: 15px;
  background: rgba(255,255,255,0.7);
}

.character-choice:hover {
  font-weight: bold;
  cursor: pointer;
}

.outline {
  padding: 7px;
  margin-left: -9px;
  margin-top: -5px;
  border-radius: 50%;
  border: 4px dotted rgba(200, 56, 61,0.9);
  box-shadow: 0 0 1px 7px rgba(255,255,255,0.7);
  position: absolute;
}